@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
  box-sizing: border-box;
}

html.no-scroll,
html.no-scroll body {
  overflow-x: hidden;
}

body {
  background-color: #131313;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* <ACCESSIBILITY> Hiding class, making content visible only to screen readers but not visually */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
